@media(min-width:1920px){
    .big-banner{
        background-size: contain;
    }
    .big-banner:before{
        height: calc(100% - 8px);
    }
}



@media only screen and (max-width:1200px) {
.big-banner .banner {
padding: 140px 40px 0;
}

.big-banner {
height: 80vw;
}

.promo .twocols .holder {
padding: 23px 57px;
}

.promo .twocols .holder h3 {
margin: 0 0 20px;
font-size: 25px;
}

.promo .twocols ul li:last-child {
margin: 0;
}

.pro-address {
padding: 0 30px 20px;
}

.reviews-search .fields {
width: 60%;
}

.pros ul .holder>img {
height: 30vw;
}

.profile-content {
width: 67%;
padding-left: 40px;
}

.tabset {
flex-wrap: nowrap;
overflow: auto;
white-space: nowrap;
-ms-overflow-style: none;
scrollbar-width: none;
}

.tabset li {
display: inline-block;
}

.tabset::-webkit-scrollbar {
display: none;
}

.single-card .date-holder span {
font-size: 12px;
}

.single-card .date-holder b {
font-size: 15px;
}
}

@media only screen and (max-width:999px) {
.about-area {
padding: 0px 50px;
}

.banner h1 {
font-size: 40px;
line-height: 52px;
}

.welcome .text {
padding: 0 0 0 50px;
}

.twocols .txt {
width: 47%;
}

.post .text {
width: 47%;
}

.post .image {
width: 47%;
}

.post .text strong {
font-size: 25px;
line-height: 30px;
}

.account-area .container {
flex-direction: column;
}

.profile-card {
width: 100%;
margin: 0 0 20px;
}

.profile-content {
width: 100%;
padding-left: 0;
}

.tab-content .heading h3 {
font-size: 25px;
}

.reviews-search input[type="text"],
.reviews-search select {
width: 40%
}

.promo .twocols .column:first-child {
display: none;
}

.promo .twocols .column {
width: 100%;
}

.faqs-list {
width: 248px;
}

.tabbings {
padding-left: 30px;
}

.tabbings .tab-opener {
font-size: 16px;
padding: 17px 0;
}

.faqs-list {
width: 230px;
}

.tabbings ul .text .inner .inner-opener {
font-size: 16px;
}

.contacts-list {
width: 340px;
}

.contacts .time {
right: 10px;
top: 5px;
}

.chat-details ul {
margin: 20px 0 0;
}

.chat-details strong {
margin-bottom: 11px;
}

.chat-details img {
margin-right: 4px;
}

.chat-details {
margin: 15px auto 40px;
}

.pro-details h1 {
font-size: 24px;
}

.pro-features li span {
font-size: 15px;
}

.pro-features li {
margin: 0 15px 5px 0;
}

.detail-card>img {
width: 130px;
height: 130px;
}

.pro-address {
padding: 0 0 20px;
}

.blogs .blog span {
padding: 20px 10px;
font-size: 15px;
line-height: 20px;
}
}

@media only screen and (max-width:768px) {
.schedule-cols {
gap: 80px;
flex-direction: column;
}

.schedule-cols .schedule-col {
width: 100%;
}

#schedule-popup .service-form .button-holder button {
width: 130px;
}

.testi-slider {
margin: 0 0 40px;
}

.main-services .cols {
flex-direction: column;
padding: 20px 30px 0;
}

.main-services {
margin: 0 0 40px;
}

.main-services .col {
width: 100%;
}

.projects-slider ul.slick-dots {
width: 67vw;
}

.project-tabs button {
padding: 5px 12px 7px;
}

.big-banner {
height: 150vw;
}

.big-banner .banner {
padding: 140px 15px 0;
}

.welcome h1 {
font-size: 25px;
margin: 0 0 20px;
}

.welcome .text {
padding: 0;
}

.welcome {
padding: 40px 0 30px;
}

.twocols strong {
font-size: 26px;
margin: 0 0 5px;
}

.counters strong {
font-size: 40px;
line-height: 58px;
padding: 0 0 5px;
}

.service-list .btn-details {
padding: 13px 14px;
width: 130px;
}

.service-list .tags li {
margin: 0 10px 10px 0;
}

.reviews-stats .right li {
margin: 0 0 2px;
}

.reviews-list {
margin: 0 0 40px;
}

.banner h1 {
font-size: 40px;
line-height: 52px;
}

.banner h1 span:after {
width: 130px;
height: 17px;
left: 50%;
bottom: -2px;
}

.benefits .cols img {
height: 32vw;
}

.benefits .cols strong {
font-size: 15px;
line-height: 20px;
}

.form-holder {
margin: -45px auto 38px;
}

.benefits h2 {
font-size: 25px;
line-height: 30px;
}

.claim .img-holder {
width: 33%;
}

.claim .text {
width: 64%;
padding: 0;
}

.features {
padding: 30px 0;
}

.features ul li strong {
font-size: 17px;
}

.features h2 {
margin: 0 0 30px;
}

.claim {
margin: 0 0 50px;
}

.promo {
padding: 40px 0;
}

.promo .twocols .column:first-child {
display: none;
}

.promo .twocols .column {
width: 100%
}

.promo .twocols .holder {
padding: 43px 40px;
box-shadow: 0 0 37px -15px #7b7b7b;
}

.promo .twocols .holder h3 {
font-size: 23px;
}

.claim .text h2 {
margin: 0 0 15px;
font-size: 23px;
line-height: 30px;
padding: 0;
}

.claim .text p {
margin: 0 0 13px;
}

.schedule-text .text h2 {
margin: 0 0 30px;
font-size: 27px;
line-height: 35px;
}

.schedule-text .text {
padding: 20px 24px;
}

#footer {
padding: 40px 0 0;
}

#footer .text {
width: 32%;
}

#footer .text>a>img {
width: 140px;
}

#footer .cols strong {
font-size: 14px;
margin: 0 0 19px;
}

#footer .cols ul li {
margin: 0 0 15px;
}

.contacts-list {
width: 340px;
position: absolute;
background: #fff;
z-index: 1;
transform: translate(-120%, 0);
-webkit-transform: translate(-120%, 0);
-moz-transform: translate(-120%, 0);
transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
}

.contacts-list.active {
transform: translate(0, 0);
-webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
}

.chat-content {
border: none;
}

.chat-history {
max-height: none;
}

.chat-area {
padding: 20px 0 50px;
position: relative;
}

.contacts-opener {
font-weight: 600;
background: #0af886;
border-radius: 4px;
color: #000;
padding: 10px 20px;
display: block;
}

.pro-details .container {
flex-direction: column;
}

.about-text {
width: 100%;
order: 2;
}

.detail-card {
width: 100%;
margin: 0 0 20px;
order: 1;
}

.cards .card:last-child img {
margin-bottom: 2px;
}

.recents .cards {
margin: 0 0 30px;
}

.blogs .blog {
width: calc(50% - 10px);
}

.textual-area {
padding: 30px 0;
}

.pros ul .holder .price {
width: 100%;
}

.pros ul li {
width: calc(32.3% - 2px);
}

.pros ul .holder .ratings img {
width: 70px;
}

.service-list .img-holder {
height: 150px;
}

.table-holder {
overflow: auto;
}

.table-holder table {
width: 700px;
}
}

@media only screen and (max-width:600px) {
.about-area {
padding: 0px 15px;
}

.projects-slider img {
max-width: none;
max-height: none;
width: 100%;
}

.welcome {
padding: 10px 0 30px;
}

.welcome p {
margin: 0 0 20px;
}

.twocols .txt p {
margin: 0 0 14px;
}

.twocols .txt,
.twocols .image {
width: 100%;
}

.twocols {
margin: 0 0 30px;
flex-direction: column;
}

.counters li {
width: 100%;
text-align: center;
margin: 0 0 20px;
padding: 0;
}

.counters {
flex-direction: column;
margin: 0 0 20px;
}

.about-area .post {
flex-direction: column;
}

.about-area .post .image,
.about-area .post .text {
width: 100%;
margin: 0 0 10px;
}

.post .text strong {
font-size: 20px;
line-height: 25px;
margin: 0 0 10px;
}

.about-area .post {
margin: 0 0 10px;
}

form.plans-form .plan-cols {
flex-direction: column;
}

.plan-col {
width: 100%;
padding: 0 0 10px;
}

.notifications .text {
width: 80%;
}

.edit-form .edit-col {
width: 100%;
}

.edit-form .edit-row {
flex-direction: column;
}

.edit-form .edit-row.buttons button,
.edit-form .edit-row.buttons input[type="submit"] {
height: 40px;
width: 100%;
}

.single-card {
width: 100%;
}

.added-cards {
flex-direction: column;
}

.pros ul li {
width: 100%;
}

.pros ul .holder>img {
height: 80vw;
}

.pros .header h2 {
font-size: 25px;
}

.banner .text {
padding: 114px 0 100px;
height: 100%;
display: flex;
align-items: center;
}

.banner h1 {
font-size: 27px;
line-height: 32px;
}

.banner {
height: 84vw;
}

.form-holder input[type="text"],
.form-holder input[type="submit"] {
width: 100% !important;
margin: 0 0 10px;
}

.form-holder form {
flex-direction: column;
}

.benefits .cols .col {
width: 100%;
}

.benefits .cols img {
height: 70vw;
}

.claim .img-holder {
display: none;
}

.claim .text {
width: 100%;
}

.benefits {
margin: 0 0 40px;
}

.features ul {
flex-direction: column;
}

.features ul li {
width: 100%;
padding: 0 0 20px;
}

.features h2 {
margin: 0 0 20px;
font-size: 23px;
}

.promo h2 {
margin: 0 0 15px;
font-size: 25px;
line-height: 30px;
}

.promo .header {
margin: 0 0 30px;
}

.promo .twocols ul .ico {
display: none;
}

.promo .twocols ul .inner {
padding: 4px 0 0 10px;
font-size: 17px;
}

.promo .twocols ul .inner strong {
font-size: 18px;
}

.promo .twocols .holder {
padding: 23px;
}

.schedule-text .text h2 {
margin: 0 0 30px;
font-size: 22px;
line-height: 30px;
}

#footer .top {
flex-direction: column;
}

#footer .text {
width: 100%;
}

#footer .cols {
width: 100%;
}

#footer .cols {
width: 100%;
margin: 20px 0 0;
flex-direction: column;
}

#footer .cols .col,
#footer .cols .col:last-child {
width: 100%;
}

#footer .bottom,
#footer .bottom ul {
flex-direction: column;
text-align: center;
}

#footer .bottom ul {
margin: 10px 0 0 !important;
}

#footer .bottom {
padding: 18px 0;
}

.contact-form .field-row {
flex-direction: column;
margin: 0 0 11px;
}

.contact-form .field-col {
width: 100%;
}

.contact-form {
margin: 40px 0;
}

.banner.small {
/* height: 70vw; */
height: 50vw;
}

.banner.small .text {
padding: 40px 0 0;
}

.textual-area {
padding: 30px 0;
}

.faqs-list {
width: 100%;
}

.tabbings {
padding-left: 0;
}

.tabbings .tab-opener {
font-size: 16px;
padding: 17px 20px 17px 0;
}

.banner.small h1 {
font-size: 22px;
}

.chat-content .top-area .left span {
font-size: 17px;
}

.contacts-opener {
padding: 7px 10px;
}

.contacts-list {
width: 78%;
}

.detail-card {
padding: 15px;
}

.blogs {
padding: 30px 0;
}

.blogs .blog {
width: 100%;
}

.pro-tags li {
margin: 0 ;
}

.service-list>li {
flex-direction: column;
}

.service-list .img-holder {
width: 100%;
}

.service-list .txt {
padding: 10px 0 0;
}

.reviews-search {
flex-direction: column;
}

.reviews-search .fields {
width: 100%;
}

.reviews-search input[type="text"],
.reviews-search select {
width: 100%;
margin: 0 0 10px;
}

.reviews-search button {
width: 100%;
}

.reviews-list .text {
padding: 10px 10px 0;
}

.reviews-stats {
flex-direction: column;
}

.reviews-stats .right {
width: 100%;
}

.ratings {
align-items: center;
justify-content: flex-start;
text-align: left;
}

.menu-opener {
display: block;
}

#header .right {
position: fixed;
width: 250px;
background: #fff;
z-index: 1;
top: 0;
left: 0;
height: 100%;
display: block;
padding: 30px 20px;
transform: translate(-120%, 0);
-webkit-transform: translate(-120%, 0);
-moz-transform: translate(-120%, 0);
transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
box-shadow: 0 0 25px -14px #000;
}

#header .right.active {
transform: translate(0, 0);
-webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
}

#header ul {
margin: 0;
gap: 60px;
}

#header ul li {
margin: 0;
}

#header .btn-primary {
width: 100%;
margin: 20px 0 0;
}

#header .dropdown {
left: 0;
width: 260px;
}

#header .dropdown li {
font-size: 13px;
padding: 10px 5px;
}

#header .dropdown img {
width: 38px;
height: 38px;
margin-right: 10px;
}

#header .dropdown .text .time {
display: none;
}

#header .dropdown .text .txt {
width: auto;
flex: 1;
}

.popup .holder {
padding: 30px 20px;
}

.auth-form .field-row {
flex-direction: column;
}

.auth-form .field-col {
width: 100%;
}

.popup h2 {
margin: 0 0 10px;
font-size: 21px;
font-weight: 600;
}

.popup-header p {
font-size: 16px;
}

.working-cols {
flex-direction: column;
}

.working-col {
width: 100%;
}

.boxes,
.selected-docs {
flex-direction: column;
}

.selected-docs li {
width: 100%;
}

.selected-docs li span {
width: 74%;
}

.service-form .button-holder button {
width: 100%;
margin: 0 0 10px;
}

.field-row.misc-text p,
.misc-text button {
font-size: 14px;
}

.progress-card {
transform: scale(0.3);
}

.service-form .button-holder button,
.service-form .button-holder input[type="submit"] {
width: 100%;
}

.table-area {
overflow: auto;
}

.table-area table {
width: 700px;
}

.invoice-holder .twocolumns {
margin: 0;
flex-direction: column;
}

.invoice-holder .twocolumns .column {
width: 100%;
margin: 0 !important;
}

.invoice-holder .twocolumns .column:last-child .holder {
justify-content: initial;
}
}





@media(max-width:1280px){
    .service-btns {
        gap: 10px;
    }
}
@media(max-width:1024px){
    .main-services .col{
        padding: 50px 30px 0;
    }
    .add-holder-image-container img{
        height: 300px;
    }
    .tasks-area ul.list-none.flex.v-center.pro-tags {
        margin: 0 20px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .tasks-area .list-none.flex.v-center.pro-tags {
        flex-wrap: nowrap;
        padding: 0;
    }
    .promo .twocols .holder{
        box-shadow: 0 0 37px -15px #7b7b7b;
    }
    .service-list>li div:nth-child(2) {
        width: calc(100% - 150px);
    }
}
@media(max-width:991px){
    .big-banner {
        height: 100vw;
        background-position: bottom center;
    }
    .detail-card{
        width: 45%;
    }
    .detail-card{
        padding: 25px;
    }
    .detail-card .holder button{
        padding: 13px 10px;
        font-size: 14px;
    }
    .add-holder-image-container img{
        height: 200px;
    }
    .pros .cols {
        gap: 30px 14px;
    }
    .service-btns li.update-price img {
        width: 14px;
        height: 14px;
        object-fit: contain;
    }
    .service-btns li label{
        padding: 10px;
        font-size: 10px;
        min-width: 90px;
    }
    .service-list>li div:nth-child(2) {
        width: calc(100% - 150px);
    }



    .pros__popup .task-detail-pros-list{
        flex-wrap: wrap;
    }
    .task-detail-pros-list div.pros__btn{
        justify-content: start;
        width: 100% !important;
    }
}
@media(max-width:767px){
    #header{
        padding: 10px 0;
    }
    .logo {
        max-width: 100px;
    }
    #header .right{
        position: relative;
        width: auto;
        background: transparent;
        padding: 0;
        transform: translate(0);
        box-shadow: unset;
    }
    #header ul{
        gap: 15px;
    }
    .user-dropdown.active{
        left: unset;
        right: 0;
    }
    .form-holder select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .big-banner{
        height: 70vh;
        background-size: contain;
    }
    .big-banner:before{
        height: calc(100% + 5px);
        background-size: cover;
    }
    .main-services .cols h2{
        font-size: 22px;
        line-height: 31px;
    }
    .main-services .cols img{
        max-height: 250px;
    }
    .list-none.pro-features {
        gap: 10px;
    }
    .form-holder input[type="submit"] {
        width: calc(100% - 45px) !important;
        margin-bottom: 0;
    }
    .form-holder form{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #header .btn-primary {
        font-size: 10px;
        padding: 5px 10px !important;
        margin-top: 0;
        width: auto;
        margin-left: 10px;
    }
    #header .user {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    #header .list-none b {
        font-size: 10px;
    }
    #header .right {
        display: flex;
    }
    
    
    .tasks-area .pro-tags li {
        margin: 0;
    }    
    .schedule-text .btn-primary {
        margin: auto;
        padding: 10px 20px;
        font-size: 12px;
    }
    .schedule-text .text h2 {
        text-align: center;
        font-size: 20px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .form-holder {
        margin: -45px 20px 38px;
    }
    .banner.small .text{
        justify-content: center;
    }
    .promo .twocols ul li {
        margin: 0;
        align-items: flex-start;
    }
    
    .promo .twocols ul span {
        margin-top: 10px;
        font-size: 14px;
        margin-right: 10px;

    }
    .promo .twocols p {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 20px;
    }
    #footer {
        padding: 120px 0 0;
    }
    .schedule-text .txt {
        justify-content: center;
    }
    .schedule-text {
        margin-bottom: -80px;
    }
    .search-contact-form {
        padding-right: 0;
    }
    .contacts-list {
        position: relative;
        width: 100%;
        transform: translate(0px, 0px);
    }
    .chat-history {
        width: 100%;
    }
    .contacts .time {
        right: 20px;
        top: 35px;
    }
    .contact-row .txt {
        width: 100%;
        margin-top: 20px;
    }
    .chat-content{
        width: 100%;
    }    
    .top-area {
        padding: 20px 10px !important;
    }
    .write-msg {
        padding: 10px 0;
    }
    .chat-content .inner-container {
        padding: 0;
    }
    .chat-details .left {
        justify-content: flex-start;
    }
    .chat-details button {
        margin: 0 !important;
    }
    .chat-history {
        max-height: calc(100vh - 250px);
        padding-right: 0;
    }
    .chat-history .msg.sender .holder{
        max-width: 300px;
    }
    #header .dropdown li:hover {
        background: #f6faf5;
    }
    #footer .cols .col {
        width: calc(50% - 10px) !important;
    }
    #footer .cols {
        flex-direction: row;
        gap: 20px;
    }
    #footer .bottom ul {
        flex-direction: row;
        justify-content: center;
    }
    #footer .bottom ul li {
        margin-left: 0;
    }
    #header .dropdown{
        left: unset;
        width: 260px;
        right: -80px;
        z-index: 9999999;
        margin: auto;
    }
    #header .dropdown h2{
        margin: 0 0 10px;
        font-size: 18px;
    }
    .notification__list{
        max-height: 310px;
    }
    .pros.search__page ul li {
        width: 100%;
    }
    .service-list.my__task>li div:nth-child(2) {
        width: 100%;
    }    
    .new-card {
        height: auto;
        padding: 10px;
        min-width: 150px;
        gap: 5px;
    }
    .single-card {
        max-width: 250px;
    }
    .single-card div#container {
        width: auto;
        top: auto;
        right: 0;
    }
    .form-holder input.full__width[type="submit"] {
        width: 100% !important;
    }
    .budget__field .service-col,
    .budget__field .radios-holder.flex {
        width: 100%;
    }
    .service-list>li div:nth-child(2) {
        width: 100%;
    }
    .service-btns li {
        width: calc(50% - 5px);
    }
    .service-btns li label {
        width: 100%;
    }
    
    
    .col.flex.service-row h2 {
        color: var(--For-Headings, #222);
        font-family: Hellix;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 52px */
        margin: 0;
        padding-top: 30px;
      }
      .col.flex.service-row{
        padding-bottom: 30px;
      }


    .pros__popup .img-holder {
        width: 100% !important;
    }
    .task-detail-pros-list div.pros__btn button {
        width: 100%;
    }
    .pros__btn {
        flex-direction: column;
    }
    .m__full {
        width: 100%;
    }
    .cards .card:first-child {
        height: 300px;
        width: 100%;
    }
    .cards .card:last-child {
        width: 100%;
    }
    .contact-row {
        padding: 20px 0;
    }
    .contacts .time {
        top: 0;
        right: 0;
    }
    .contact-row .txt {
        width: calc(100% - 160px);
        margin-top: 0;
    }
    .contacts-list .contacts {
        max-height: 460px;
        overflow-x: auto;
    }
    .multiselect {
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
    .multiselect__tags {
        border: 0.5px solid rgba(2, 23, 76, 0.20) !important;
        padding-left: 0px !important;
    }
    .multiselect__tags input[type="text"] {
        background-position: 10px 4px;
        padding-left: 30px !important;
        width: 255px !important;
    }
    span.multiselect__placeholder {
        display: none;
    }
    .pros.contact__page .container {
        padding: 0 30px !important;
    }
    .benefits {
        margin: 0px 0 50px;
    }


    .chat-content {
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: #fff;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
    }
    .pro__active .chat-content {
        visibility: visible;
        opacity: 1;
    }
    
    .chat-history {
        padding: 10px;
    }
    .mobile__close-btn{
        display: block;
        margin-left: 10px;
    }
    .mobile__close-btn button {
        background: #0af886;
        color: #02174C;
        border: 0;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .chat-history{
        max-height: calc(100vh - 420px);
        min-height: calc(100vh - 420px);
    }

    .service-btns li button {
        width: 100%;
    }
    .more__detail li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .write-msg {
        padding: 10px;
    }

}